{% extends 'layout.html' %}
{% block content %}
	<h1>About</h1>
	<p>This website was made by Forrest Dodds, he's a cool dude! I have the epic pass so I've only made this for epic pass resorts. Sorry for non-epic pass people. But feel free to fork the <a href="https://github.com/Forrest22/TahoeSkiReports">github</a> and host your own for your resorts.</p>

	<a href="https://protectourwinters.org/"><img style="display: block; margin-left: auto; margin-right: auto;" src="/static/pow-main-logo.svg" alt="Protect Our Winters" id="logo" data-height-percentage="66" data-actual-width="1417" data-actual-height="476"></a>

	<p>Please consider supporting <a href="https://protectourwinters.org/">Protect Our Winters</a>. They're a wonderful cause and we need their support to help protect the sport we love so dearly.</p>

	<h2>Sources & References</h2>
	<p>
		Favicon from <a href="https://www.freefavicon.com/freefavicons/objects/iconinfo/snow-152-83335.html">freefavicon</a>
	</p>
{% endblock content %}