{% extends 'layout.html' %}
{% block content %}
<h1>Tahoe Snow Reports</h1>
<p>Your guide to ski reports for all epic pass resorts.</p>
<div class="album py-5 bg-light">
	<div class="container">
		<div class="row">
			{% for resort in resorts['resorts'] %}
			<div class="col-md-4">
				<div class="card box-shadow {{resort.name}}">
					<div class="card-img-top" style="position: relative;">
						<!-- <h2 class="bottom-left">{{resort.name}}</h2> -->
						<img class="card-img-top" style="height: 225px; width: 100%; display: block; object-fit: cover; /*opacity: 0.8*/" src="/static/{{resort.img}}" data-holder-rendered="true">
					</div>
					<div class="card-body">
						<h2 class="article-title">
							<a href="/{{resort.name | lower}}">{{resort.name}}</a>
						</h2>
						<p>As of {{resort.latest_report.last_updated}}</p>
						<ul>
							<li>Depth: {{resort.latest_report.snow_depth}} {{resort.latest_report.units}}</li>
							<li>Lifts open: {{resort.latest_report.lifts_open}}</li>
							<!-- <li>Lifts open: {{((resort.latest_report.lifts_open / resort.latest_report.total_lifts) * 100) | round(1)}}%</li> -->
						</ul>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}